<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour, </h1>
    <p>
    <%= @full_name %> souhaite vous cantactez.
    </p>
    <p>
      Email : <%= @visitor_email %>.
    </p>
    <p>
      Message : <%= @content_message %>.
    </p>
    <p> À très vite sur Hoomies !
  </body>
</html>