 <%= render 'shared/hoomies_nav' %>

  <%= render 'shared/home_carousel' %>
<style>
	.offerservice
		{
			display: block;
			text-align: center;
			font-size: 20px;
			margin-bottom: 0px;
			font-style: italic;
			color: purple;
			font-family: initial;
			border-bottom: 1px solid black;
			text-transform: uppercase;
		}
	.inner-text
		{
			font-size: 15px;
			font-style: italic;
		}

	.inner-cond
		{
			font-size: 15px;
			font-style: italic;
			font-weight: bold;	
		}

	.gold
		{
			background-color: gold;
		}
	.ruby
		{
			background-color: #effff0;
		}

	.diamond
		{
			background-color: lightyellow;
		}

	.offer-title 
		{
			display: block;
			text-align: center;
		}
</style>

  <div class="container" style="margin-top: 40px;">
  	<h1> Nos Formules</h1>
  	<div class="row">
  		<div class="col-md-4 ">
	  		<div class="card" style="width: 20rem;">
			  <div class="card-body gold">
			    <span class="card-title offerservice"> Gold </span>
			    <div class="row">
			    	<h3 style="color: floralwhite;"> Postez Votre annonce </h3>
			    </div>
			    <div class="row">
				    <p class="card-text inner-text">
						Testez le marché sans vous engager. Vous publiez votre annonce. Vous voyez ce que ça donne.
					</p>
			    </div>
				
				<div class="row">
					<p class="inner-cond">
						<b>Inclus</b> : 3 annonces de 6 photos. Suivi des performances de l'annonce. Modifications gratuites et illimitées.
					</p>
				</div>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
  		</div>

  		<div class="col-md-4">
	  		<div class="card" style="width: 20rem;">
			  <div class="card-body ruby">
	    		<span class="card-title offerservice">Ruby</span>
			  	<div class="row">
			    	<h3 style="color: blue"> Des maison à Vendre </h3>
			    </div>
			  	<div class="row">
			    	<p class="card-text inner-text">
			    		Nôtre pack classique vous apporte tout ce dont vous avez besoin!
			    	</p>
			  	</div>

				<div class="row">
				    <p class="inner-cond">
						<b>Inclus</b> : 10 annonces de 12 photos. Suivi des performances de l'annonce. Modifications gratuites et illimitées. Interface de gestion de la vente.  
				    </p>
				</div>
							
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
  		</div>

  		<div class="col-md-4">
	  		<div class="card" style="width: 20rem;">
			  <div class="card-body diamond">
			    <span class="card-title offerservice">Diamond</span>
			  	<div class="row">
			    	<h3 style="color: darkviolet"> Offre sans limite </h3>
			    </div>

			  	<div class="row">
			    	<p class="card-text inner-text">
			    		Nôtre pack diamond vous permet de publier vos annonces illimitées!
			    	</p>
			  	</div>

				<div class="row">
				    <p class="inner-cond">
						<b>Inclus</b> : annonces illimitées de 15 photos pendant 6 mois. Suivi des performances de l'annonce. Modifications gratuites et illimitées. Interface de gestion de la vente.  
				    </p>
				</div>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
  		</div>	
	</div>
  	</div>
  </div>