<script src="https://kit.fontawesome.com/5c7c4423f6.js" crossorigin="anonymous"></script>
<div class="site-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <div class="site-section-title">
            <h2>Pourquoi nous?</h2>
                      <hr>

          </div>
          <p>Le n°1 de l'immobilier
              entre particuliers à Madagascar, 
              avec un taux de visiteurs croissant par mois, Hoomies est un incontournable pour toutes les personnes qui recherchent un logement.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a href="#" class="service text-center">
            <span class="far fa-check-square  fa-4x"></span>
            <h2 class="service-heading">Nos objectifs</h2>
            <p>
            - Supprimez les intermédiaires
            - Particulier à Particulier (0 frais d’agence)
            - Offrir une plateforme de dépôt d’annonce et de recherche de biens immobiliers gratuitement
            </p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="#" class="service text-center">
            <span class="fas fa-chart-line  fa-4x"></span>
            <h2 class="service-heading">Fiabilité et Efficacité</h2>
            <p>
            Permet aux utilisateurs de chercher d’un efficace et rapide une maison à vendre ou à louer.
            Nous pouvons vous garantir une recherche efficace est rapide du bien correspondant à votre désir.
            </p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a href="#" class="service text-center">
            <span class="fas fa-hands-helping  fa-4x"></span>
            <h2 class="service-heading"> Nos engagement</h2>
            <p> 
            - Visbilité accrue des annonces
            - Vos informations de paiement seront sécurisées.
            - Vous faire gagnez du temps
            - Propriétaires fiable
            - remontée regulière en tête de liste
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
