.owl-highlight > .owl-nav > .owl-prev {
    top: 80%;
    left: 0;
    width: 10em;
    background: #364e68;
}
.owl-highlight > .owl-nav > .owl-next {
    top: 80%;
    right: 0;
    width: 10em;
    background: #364e68;
}

.owl-preview > .owl-nav > .owl-prev {
    top: 80%;
    left: 0;
    width: 10em;
    background: #364e68;
}
.owl-preview > .owl-nav > .owl-next {
    top: 80%;
    right: 0;
    width: 10em;
    background: #364e68;
}

#house-carousels .owl-highlight .item {
    height: 500px;
    overflow: hidden;
}

#house-carousels .owl-preview .item {
    height: 155px;
    overflow: hidden;
}
