// Place all the styles related to the testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stars-icon-on {
	list-style: none;
	background-size: cover !important;
	width: 16px;
	height: 16px;
	background: url('/assets/star-on.png') no-repeat;
}

.stars-icon-off {
	list-style: none;
	background-size: cover !important;
	width: 16px;
	height: 16px;
	background: url('/assets/star-off.png') no-repeat;
}


